@charset "utf-8";
/* CSS Document */
/*====================hreder======================*/
header
{
	width:100%;
	height:100px;
	background:#fff;
	}
header div
{
	width:1090px;
	height:100px;
	margin:0 auto;
	
	}
header div h1
{
	float:left;
	margin-top:25px;
	}
header div ul
{
	width:60%;
	height:100px;
	float:right;	
	}
header div ul li
{
	float:left;
	font-size:18px;
	height:100px;	
	position:relative;
	padding-right:30px;
	}
header div ul li .iconfont
{
	font-size:40px;
	color:#fa6a8d;
	position:absolute;
	top:32px;
	left:-16px;
	z-index:100;
	}
header div ul li p:nth-child(1)
{
	margin-top:35px;
	}
header div ul li p:nth-child(2)
{
	font-size:12px;
	color:#d3d3d3;
	}
/*=====================main==========================*/
main
{
	width:100%;
	height:520px;
	background:#fff;
	}
/*=====#main_inOne_div=====*/
main #main_one_div
{
	width:1090px;
	height:520px;
	margin:0 auto;
		
	}
main #main_one_div .main_inOne_div
{
	width:50%;
	height:520px;
	float:left;
	background:#f8f8f8;
	
	}
main #main_one_div .main_inOne_div p
{
	padding-top:150px;
	margin-bottom:20px;
	padding-left:65px;
	}	
main #main_one_div .main_inOne_div p b
{
	font-size:57px;
	}	
main #main_one_div .main_inOne_div p a	
{
	font-size:28px;
	color:#d12548;	
	}
main #main_one_div .main_inOne_div p a:hover	
{
	font-size:28px;
	color:#d12548;
	}
	
main #main_one_div .main_inOne_div ul
{
	width:90%;
	height:42px;
	padding-left:65px;
	}	
main #main_one_div .main_inOne_div ul li
{
	height:42px;
	float:left;
	}
main #main_one_div .main_inOne_div .main_inOne_ul li 
{   
    float:left;
	background:url(../images/login%20page1.png) no-repeat top;	
	width:48px;
	height:42px;
	margin-right:10px;	
	}
main #main_one_div .main_inOne_div .main_inOne_ul li:nth-child(1)
{
	background-position:5px 0px;
	}
main #main_one_div .main_inOne_div .main_inOne_ul li:nth-child(2)
{
	background-position:-54px 0px;
	}		
main #main_one_div .main_inOne_div .main_inOne_ul li:nth-child(3)
{
	background-position:-112px 0px;
	}		
main #main_one_div .main_inOne_div .main_inOne_ul li:nth-child(4)
{
	background-position:-171px 0px;
	}		
main #main_one_div .main_inOne_div .main_inOne_ul li:nth-child(5)
{
	background-position:-230px 0px;
	}		
main #main_one_div .main_inOne_div .main_inOne_ul li:nth-child(6)
{
	background-position:-287px 0px;
	}		
main #main_one_div .main_inOne_div .main_inOne_ul li:nth-child(7)
{
	background-position:-343px 0px;
	}		
main #main_one_div .main_inOne_div .main_inTwo_ul
{
	padding-left:68px;
	}		
main #main_one_div .main_inOne_div .main_inTwo_ul li a
{
	font-size:12px;
	color:#d12548;
	margin-right:8px;
	}
main #main_one_div .main_inOne_div ul li a:hover
{
	font-size:12px;
	color:#d12548;
	}
/*=====#main_inTwo_div=====*/					
main #main_one_div .main_inTwo_div
{
	width:50%;
	height:520px;
	background:#f8f8f8;
	float:right;
	}
main #main_one_div .main_inTwo_div div:nth-child(1)
{
	width:60%;
	height:354px;
	margin-top:83px;
	background:#fff;
	float:left;
	
	}
main #main_one_div .main_inTwo_div div:nth-child(1) h2
{
	padding:25px 30px 10px 45px;
	}
main #main_one_div .main_inTwo_div div:nth-child(1) form	
{
	padding:10px 0px 25px 45px;
    }
main #main_one_div .main_inTwo_div div:nth-child(1) .inp_one
{
	border:1px solid #ccc;
	width:180px;
	height:25px;
	} 
main #main_one_div .main_inTwo_div div:nth-child(1) .inp_two 
{
	border:1px solid #ccc;
	width:180px;
	height:25px;
	} 
main #main_one_div .main_inTwo_div div:nth-child(1) .inp_three	
{
	float:left;
	}
main #main_one_div .main_inTwo_div div:nth-child(1) .inp_four
{
	width:230px;
	height:40px;
	background:rgba(227,20,54,1);
	margin-top:30px;
	color:#fff;
	}
main #main_one_div .main_inTwo_div div:nth-child(1) .inp_four:hover
{
	background:rgba(227,20,54,.7);
	
	}		
main #main_one_div .main_inTwo_div div:nth-child(1) form p
{
	float:right;
	padding-right:77px;
	}
main #main_one_div .main_inTwo_div div:nth-child(1) .p1
{ 
	text-align:center;
	padding-bottom:25px;
	}
main #main_one_div .main_inTwo_div div:nth-child(1) .p1 a
{
	color:#51c7f6;
	}
main #main_one_div .main_inTwo_div div:nth-child(1) .p1 a:hover
{
	color:#51c7f6;
	}
main #main_one_div .main_inTwo_div div:nth-child(1) .p2
{
	float: left;
	line-height:30px;
	
	}
#bdsharebuttonbox{
	float: right;
	
}
																					
main #main_one_div .main_inTwo_div .div_two
{
	margin-top: 83px;
	margin-right: 47px;
	background: #fff;
	float:right;
	padding:100px 35px 113px 20px;	
	}
main #main_one_div .main_inTwo_div .div_two .dt1 a
{
	color:#e56f8f;
	font-weight:900;
	}
main #main_one_div .main_inTwo_div .div_two .dt2 a:hover
{
	color:#000;
	}
/*=======================footer============================*/
footer
{
	width:100%;
	height:180px;
	background:#fff;
	}	
footer div
{
	width:1090px;
	margin:0 auto;
	position:relative;
	}	
footer div p
{
   	color:#c2c2c2;
	text-align:center;
	}
footer div p .footer_zero_img
{
	position:absolute;
	left:366px;
	top:77px;
	width:25px;
	height:25px;
	}	
footer div p:last-of-type .footer_one_img
{
	position:absolute;
	left:466px;
	top:133px;
	width:80px;
	height:30px;
	}
footer div p:last-of-type .footer_two_img
{
	position:absolute;
	left:558px;
	top:133px;
	width:30px;
	height:30px;
	}	

footer div p
{
	line-height:35px;
	}		
footer div p a
{
   	color:#c2c2c2;
	text-align:center;
	}	
footer div p a:hover
{
   	color:#c2c2c2;
	text-decoration:underline;
	}		
	
	
	








